h1 {
  color: red;
  text-align: center;

}

h2 {
left: 100px;
}

h4 {

}

body {

text-align: center;
}


img {

}

.row1 {
 float:left;
}

.row2 {
  align-items: center;
}

.row3 {
  float: right;
}

.row4 {
  float: right;
}

#1,1{
  float: right;
}











.button {
  text-align: center;
  width: 150px;
  height: 50px;
  margin: 450px;

}
