h1 {
  color: red;
  text-align: center;

}

h2 {
  text-align: center;
}

h3 {
    text-align: center;
}

h4 {

}

.player1 {
  color:red;
}

.player2 {
  color:blue;
}

img {

}

.button {
  text-align: center;
  width: 150px;
  height: 30px;
  margin: -100px 640px;
}

.horizLine {
  width: 100px;
  height: 10px;
  display: inline-block;

}
.vertLine {
  width: 10px;
  height: 100px;
  display: inline-block;
}

.black{
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.box {
  width: 90px;
  height: 100px;
  margin-left: 16px;
}

.available:hover {
  background-color: gray;
}
