h1 {
  color: red;
  text-align: center;

}

h2 {
  text-align: center;
}

h3 {
    text-align: center;
}
img {

}
.button {
  text-align: center;
  width: 150px;
  height: 50px;
  margin: -50px 640px;
}

.horizLine {
  width: 100px;
  height: 10px;
  display: inline-block;

}
.vertLine {
  width: 10px;
  height: 100px;
  display: inline-block;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
